---
import { getComunidades, getProvincias, getMunicipios } from '../services/geoapi.js'

const comunidades = await getComunidades()
const provincias = await getProvincias('01')
const municipios = await getMunicipios('29')
console.log(comunidades)
console.log(provincias)
console.log(municipios)

---

Hola soy el index
<h1>{comunidades}</h1>