---
import { ComProvMunDropdowns } from "../components/ComProvMunDropdowns.jsx"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spanish TSP</title>
  <link rel="icon" type="image/x-icon" href="/favicon.svg">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
  <h1>Spanish TSP project</h1>

  <ComProvMunDropdowns client:load></ComProvMunDropdowns>

  
</body>

<style>
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
</style>