---
import Selectors from '../components/Selectors.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spanish TSP</title>
  <link rel="icon" type="image/x-icon" href="/favicon.svg">
</head>
<body>
  <h1>Spanish TSP project</h1>

  <Selectors></Selectors>

  
</body>

<style>
  h1 {
    text-align: center;
  }
</style>
</html>